<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxy.zzarental.web.admin.mapper.AttrKeyMapper">

    <resultMap id="attrkeyMap" type="com.wxy.zzarental.web.admin.service.dto.AttrKeyDTO">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <collection property="attrValueList" ofType="com.wxy.zzarental.web.admin.service.dto.AttrValueDTO">
            <id property="id" column="vId" />
            <result property="name" column="vName" />
            <result property="attrKeyId" column="attr_key_id" />
        </collection>
    </resultMap>
    <select id="selectAttrInfo" resultMap="attrkeyMap">
        select k.id,k.name, v.id as vId,v.name as vName,v.attr_key_id from attr_key k
        left join attr_value v on k.id = v.attr_key_id and v.is_deleted = 0
        where k.is_deleted = 0
    </select>

</mapper>
